ConcordiaLibraryServer/src/SOAPServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://soap.librarySystem.com/" name="SOAPServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://soap.librarySystem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.librarySystem.com/" schemaLocation="SOAPServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listItemAvailability">
    <part name="parameters" element="tns:listItemAvailability"/>
  </message>
  <message name="listItemAvailabilityResponse">
    <part name="parameters" element="tns:listItemAvailabilityResponse"/>
  </message>
  <message name="checkAvailability">
    <part name="parameters" element="tns:checkAvailability"/>
  </message>
  <message name="checkAvailabilityResponse">
    <part name="parameters" element="tns:checkAvailabilityResponse"/>
  </message>
  <message name="checkReturnPossible">
    <part name="parameters" element="tns:checkReturnPossible"/>
  </message>
  <message name="checkReturnPossibleResponse">
    <part name="parameters" element="tns:checkReturnPossibleResponse"/>
  </message>
  <message name="checkBorrowPossible">
    <part name="parameters" element="tns:checkBorrowPossible"/>
  </message>
  <message name="checkBorrowPossibleResponse">
    <part name="parameters" element="tns:checkBorrowPossibleResponse"/>
  </message>
  <message name="borrowItem">
    <part name="parameters" element="tns:borrowItem"/>
  </message>
  <message name="borrowItemResponse">
    <part name="parameters" element="tns:borrowItemResponse"/>
  </message>
  <message name="findItem">
    <part name="parameters" element="tns:findItem"/>
  </message>
  <message name="findItemResponse">
    <part name="parameters" element="tns:findItemResponse"/>
  </message>
  <message name="addToQueue">
    <part name="parameters" element="tns:addToQueue"/>
  </message>
  <message name="addToQueueResponse">
    <part name="parameters" element="tns:addToQueueResponse"/>
  </message>
  <message name="removeItem">
    <part name="parameters" element="tns:removeItem"/>
  </message>
  <message name="removeItemResponse">
    <part name="parameters" element="tns:removeItemResponse"/>
  </message>
  <message name="exchangeItem">
    <part name="parameters" element="tns:exchangeItem"/>
  </message>
  <message name="exchangeItemResponse">
    <part name="parameters" element="tns:exchangeItemResponse"/>
  </message>
  <message name="addItem">
    <part name="parameters" element="tns:addItem"/>
  </message>
  <message name="addItemResponse">
    <part name="parameters" element="tns:addItemResponse"/>
  </message>
  <message name="returnItem">
    <part name="parameters" element="tns:returnItem"/>
  </message>
  <message name="returnItemResponse">
    <part name="parameters" element="tns:returnItemResponse"/>
  </message>
  <portType name="SOAPService">
    <operation name="listItemAvailability">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/listItemAvailabilityRequest" message="tns:listItemAvailability"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/listItemAvailabilityResponse" message="tns:listItemAvailabilityResponse"/>
    </operation>
    <operation name="checkAvailability">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/checkAvailabilityRequest" message="tns:checkAvailability"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"/>
    </operation>
    <operation name="checkReturnPossible">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/checkReturnPossibleRequest" message="tns:checkReturnPossible"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/checkReturnPossibleResponse" message="tns:checkReturnPossibleResponse"/>
    </operation>
    <operation name="checkBorrowPossible">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/checkBorrowPossibleRequest" message="tns:checkBorrowPossible"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/checkBorrowPossibleResponse" message="tns:checkBorrowPossibleResponse"/>
    </operation>
    <operation name="borrowItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/borrowItemRequest" message="tns:borrowItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/borrowItemResponse" message="tns:borrowItemResponse"/>
    </operation>
    <operation name="findItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/findItemRequest" message="tns:findItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/findItemResponse" message="tns:findItemResponse"/>
    </operation>
    <operation name="addToQueue">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/addToQueueRequest" message="tns:addToQueue"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/addToQueueResponse" message="tns:addToQueueResponse"/>
    </operation>
    <operation name="removeItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/removeItemRequest" message="tns:removeItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/removeItemResponse" message="tns:removeItemResponse"/>
    </operation>
    <operation name="exchangeItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/exchangeItemRequest" message="tns:exchangeItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/exchangeItemResponse" message="tns:exchangeItemResponse"/>
    </operation>
    <operation name="addItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/addItemRequest" message="tns:addItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/addItemResponse" message="tns:addItemResponse"/>
    </operation>
    <operation name="returnItem">
      <input wsam:Action="http://soap.librarySystem.com/SOAPService/returnItemRequest" message="tns:returnItem"/>
      <output wsam:Action="http://soap.librarySystem.com/SOAPService/returnItemResponse" message="tns:returnItemResponse"/>
    </operation>
  </portType>
  <binding name="SOAPServicePortBinding" type="tns:SOAPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listItemAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkReturnPossible">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkBorrowPossible">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="borrowItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addToQueue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="exchangeItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="returnItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SOAPServiceService">
    <port name="SOAPServicePort" binding="tns:SOAPServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

